/{
	cam_interface {
		compatible = "gpio-leds";
		pin_focus: pin_focus {
			gpios = <&gpio1 1 (GPIO_OPEN_DRAIN | (1 << 8))>;
			label = "Activate camera focus pin";
		};
		pin_shutter: pin_shutter {
			gpios = <&gpio1 2 (GPIO_OPEN_DRAIN | (1 << 8))>;
			label = "Activate camera shutter pin";
		};
	};
};